NAMESPACE=pad
PY_VERSION=3.13.3-slim-bookworm
POSTGRES_VERSION=16.8-alpine3.21
POSTGRES_DB=pad
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_TABLE=coins
POSTGRES_ANALYSIS_TABLE=analyse_technical
POSTGRES_SOCIAL_TABLE=analyse_social
POSTGRES_USER=SpecialOsio
POSTGRES_PASSWORD=

TZ=Europe/Berlin

# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo
REDIS_VERSION=7.2.4-alpine3.19
# API URLs
MEXC_HTTP_URL=https://www.mexc.com/api/operation/new_coin_calendar

# API Keys
MEXC_API_KEY=
MEXC_API_SECRET=
COINGECKO_API_KEY=CG-
SELL_AFTER_MIN=10

GITHUB_API_KEY=
TWITTER_BEARER_TOKEN=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
# CoinGecko Configuration
COINGECKO_CACHE_DURATION=3600
COINGECKO_RATE_LIMIT_DELAY=1.5
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
CACHE_DIR=/cache
PYTHONPATH=/src

# Scheduler configuration
SCORE_THRESHOLD=50
